<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Exercise Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>
</head>
<body>
    <header>
        <h1>RepSync</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('model_selection') }}">Home</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; RepSync</p>
    </footer>
</body>
</html>
